/* generals */
.container-fluid{
    background-color: rosybrown;
    
}

.contacts-side{
    height: 100vh;
    background-color: #fff;
}

.messages-side{
    height: 100vh;
    background-color: sandybrown;
}

/*  */
/* left side */
/* contacts */
/*  */

.nome-utente-side{
    background-color: #eaeaea;
    height: 70px;
    width: 100%;
}

.nome-utente-side img{
    max-width: 100%;
    width: 50px;
    border-radius: 50px;
}

.ricevi-notifiche{
    background-color: #9fd8f8;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
}

.notifica-cerchio{
    border-radius: 50px;
    background-color: #fff;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bell-slash{
    color: #9fd8f8;
    font-size: 30px;
}

.cerca-chat{
    width: 100%;
    margin-bottom: 10px;
}

i{
    color: #9a9a9a;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.cerca-chat input{
    border: none;
    margin-left: 20px;
    width: 250px;
    max-width: 100%;
}

.contatti img{
    max-width: 100%;
    width: 60px;
    border-radius: 50px;
    margin-bottom: 25px;
    cursor: pointer;
}

/*  */
/* right side */
/* messages */
/*  */

.utente-banner{
    background-color: #eaeaea;
    height: 70px;
    width: 100%;
    border-left: 1px solid #b1b1b1;
}

.utente-banner img{
    max-width: 100%;
    width: 60px;
    border-radius: 50px;
    margin-left: 5px;
}


.input-chat{
    background-color: #f2eeea;
    height: 100px;
    width: 100%;
    border-left: 1px solid #b1b1b1;
}

.chat-utenti{
    height: calc(100% - 70px - 100px);
    background-image: url("/img/mine.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: scroll;
    
    
}

.fa-smile, .fa-microphone{
    color: #6c7376;
    font-size: 30px;
}

.input-chat input{
    border: none;
    margin: 0 25px;
    width: 800px;
    height: 50px;
}

.bianco{
    margin-left: 25px;
    background-color: white;
    float: left;
}

.verde{
    margin-right: 25px;
    background-color: #dcf8c0;
    float: right;
}

.messaggio{
    clear: both;
    border-radius: 10px;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}